<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>

    <!-- Header -->
    <header class="text-center my-5"> <!-- Added margin top and bottom -->
        <h1>Get Current Weather</h1>
    </header>

    <!-- Main content -->
    <div class="container d-flex flex-column justify-content-start align-items-center" style="height: 60vh;"> 
        <!-- Used a smaller height (60vh) to center content relative to the viewport -->

        <!-- Row for the two columns -->
        <div class="row justify-content-center mt-3 w-100"> <!-- Added margin-top to create more space -->
            <div class="col-md-4 background-container mx-2"> <!-- First column for form -->
                <form action="/get-weather-data" method="post">
                    <div class="form-group mb-3">
                        <label for="latitude">Latitude</label>
                        <input type="text" class="form-control" name="latitude">
                    </div>
                    <div class="form-group mb-3">
                        <label for="longitude">Longitude</label>
                        <input type="text" class="form-control" name="longitude">
                    </div>
                    <button type="submit" class="btn btn-custom">Get Weather Data</button>
                </form>
            </div>

            <div  class="col-md-4 background-container mx-2 d-flex flex-column justify-content-center"> <!-- Second column -->

                <% if (data) { %>
                    <p><strong>City</strong> <%= data.location.name %></p> 
                    <p><strong>Temperature</strong> <%= data.current.temp_c %></p>
                    <p><strong>Condition</strong> <%= data.current.condition.text %></p>
                <% } else { %>
                    <p>Your data will appear here!</p>
                <% } %>

            </div>
        </div>

    </div>

</body>

</html>
