.background-container{
    background-color: #fdddd5;
    border-radius: 10px;
    padding: 20px;
}

.text-center{
    text-align: center;
}

body{

    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 15px;
    background-color: #fff1ee;
    
}

.btn-custom{
    background-color: #e26e5c;
    color: #fff4f2;
}

label{
    color: #d25c4a;
    font-weight: 600;
}

h1{

    font-weight: 600;

}

p{
    color: #d25c4a;
    font-style: italic;
}

header{
    color: #cf5e4c;

}

